Source: firewall
Maintainer: Giulio Sorrentino <gsorre84@gmail.com>
Build-Depends: automake
Standards-Version: 2.0-1
Section: system
Priority: extra

Package: firewall
Priority: extra  
Architecture: all
Depends: iptables, systemd, iptables-persistent, netfilter-persistent
Description: Avanzato script di configurazione del sistema.
 Viene configurato come servizio di sistema
