#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake

DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all,+bindnow

extra_flags += \
	-DARM64=ON \
	-DCMAKE_BUILD_TYPE=release \
	-DVMCS_INSTALL_PREFIX=/usr

override_dh_auto_configure:
	dh_auto_configure --builddirectory=/mnt/userland-1.0 -- \
		$(extra_flags)
override_dh_auto_build:
	dh_auto_build --builddirectory=/mnt/userland-1.0
override_dh_auto_test:
override_dh_auto_install:
	dh_auto_install --builddirectory=/mnt/userland-1.0
	rm debian/userland/usr/include/EGL/egl.h
	rm debian/userland/usr/include/EGL/eglext.h
	rm debian/userland/usr/include/EGL/eglplatform.h
	rm -rf debian/userland/usr/include/GLES
	rm -rf debian/userland/usr/include/GLES2
	rm -rf debian/userland/usr/include/KHR
